<h3 class="section-header">
  Links
</h3>

<ul class="plain-list">
  <li><a href="https://github.com/psztorc/Truthcoin"><i class="fa fa-github fa-lg"></i> Github</a></li>
  <li><a href="http://forum.truthcoin.info"><i class="fa fa-comments fa-lg"></i> Forum</a></li>
  <li><a href="https://twitter.com/truthcoin"><i class="fa fa-twitter fa-lg"></i> Twitter</a></li>
  <li><a href="https://lyoshenka.ocpu.io/truthcoindemo/www/">Demo</a></li>
  <li><a href="/papers">Papers</a></li>
  <li><a href="/presentations">Presentations</a></li>
  <li><a href="/faq">FAQ</a></li>
  <li><a href="/talk">What's Being Said</a></li>
  <li><a href="/weaknesses">Weaknesses</a></li> 
  <li><a href="/requests">Requests</a></li> 
</ul>

{% if page.show_author %}
  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <img src="/images/headshot2.png" alt="Your Name" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">Paul Sztorc</h4>
      </div>
    </div>
  </p>
{% endif %}
