<h3 class="section-header">
  Links
</h3>

<ul class="plain-list">
  <li><a href="https://github.com/truthcoin/truthcoin-cpp"><i class="fa fa-github fa-lg"></i> Github</a></li>
  <li><a href="http://forum.truthcoin.info"><i class="fa fa-comments fa-lg"></i> Forum</a></li>
  <li><a href="https://twitter.com/truthcoin"><i class="fa fa-twitter fa-lg"></i> Twitter</a></li>
  
  <li><a href="/talk">What's Being Said</a></li>
  <li><a href="/faq">FAQ</a></li>
  <li><a href="/weaknesses">Weaknesses</a></li> 
  
  <li><a href="/papers">Papers</a></li>
  <li><a href="/presentations">Presentations</a></li>
  <li><a href="/archive">Blog</a></li>
  
  <li><a href="https://lyoshenka.ocpu.io/truthcoindemo/www/">Voting Demo</a></li>
  <li><a href="https://dev.truthcoin.info/">Downloads / Dev Center</a></li>
</ul>

{% if page.show_author %}
  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <img src="/images/headshot2.png" alt="Paul Sztorc" class="pull-left">
    <!--  <div class="media-body"> -->

        <h4 class="media-heading">Paul Sztorc</h4>

        <li><a href="https://twitter.com/truthcoin"><i class="fa fa-twitter fa-lg"></i>Twitter</a></li>
        <li><a href="https://disqus.com/by/psztorc/"><i class="dsq-brlink"></i>Disqus</a></li>
        <li><a href="https://www.reddit.com/user/psztorc"><i class="fa fa-reddit"></i>Reddit</a></li>

     <!-- </div> -->
    </div>
  </p>
{% endif %}
