<h3 class="section-header">
  Links
</h3>

<ul class="plain-list">

  <li><a href="http://www.truthcoin.info"><i class="fa fa-home"></i> Home</a></li>
  <li><a href="http://www.bitcoinhivemind.com/" style="color:#FF0000"><b><u>Bitcoin Hivemind</u></b></a></li>

  <li><a href="https://github.com/psztorc/truthcoin"><i class="fa fa-github fa-lg"></i> Github</a></li>
  <li><a href="http://forum.truthcoin.info"><i class="fa fa-comments fa-lg"></i> Forum</a></li>
  <li><a href="https://twitter.com/truthcoin"><i class="fa fa-twitter fa-lg"></i> Twitter</a></li>
  
  <li><a href="/archive">Blog Archive</a></li>

</ul>

{% if page.show_author %}
  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <img src="/images/headshot3.png" alt="Paul Sztorc" class="pull-left">
    </div>
    <div class="pull-left">
        <h4>Paul Sztorc</h4>
		<li><a href="mailto:truthcoin@gmail.com" style="color:#006600"><i class="fa fa-envelope"></i> Email</a></li>
        <li><a href="https://twitter.com/truthcoin" style="color:#006600"><i class="fa fa-twitter fa-lg"></i> Twitter</a></li>
        <li><a href="https://www.reddit.com/user/psztorc" style="color:#006600"><i class="fa fa-reddit"></i> Reddit</a></li>
        <li><a href="https://disqus.com/by/psztorc/" style="color:#006600"><i class="fa fa-disqus"></i> Disqus</a></li>
    </div>
  </p>
{% endif %}
